---
import { render, type CollectionEntry } from 'astro:content';

import ArticleDates from '@/components/ArticleDates.astro';
import RightAside from '@components/RightAside/RightAside.astro';
import MainLayout from './MainLayout.astro';

interface Props {
  article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;

const { Content, headings } = await render(article);

const created = article.data.created ? new Date(article.data.created) : null;
const updated = article.data?.updated ? new Date(article.data.updated) : null;
---

<MainLayout
  title={article.data.title}
  description={article.data.description}
  keywords={article.data.keywords}
  ogImage={article.data.ogImage}
>
  <div class="jl-article-container" data-pagefind-body>
    <article id="jl-md-article">
      <h1 id="_top">{article.data.title}</h1>
      {created && <ArticleDates created={created} updated={updated} />}
      <Content />
    </article>
  </div>
  {
    article.data.toc && headings && headings.length > 0 && (
      <RightAside headings={headings} title={article.data.title} />
    )
  }
</MainLayout>

<style>
  .jl-article-container {
    padding-inline: var(--jl-spacing-lg);
    padding-block-end: var(--jl-spacing-md);
  }

  article {
    margin: 0 auto;
    max-width: var(--jl-content-max-width);
  }
</style>
