---
import type { MarkdownLayoutProps } from 'astro';
import MainLayout from './MainLayout.astro';
import Head from '@components/Head.astro';
import RightAside from '@components/RightAside/RightAside.astro';

type Props = MarkdownLayoutProps<{
  title?: string;
  description?: string;
  tags?: string[];
  created?: string;
  updated?: string;
}>;

const { frontmatter, headings } = Astro.props;

const title = frontmatter?.title;
const created = frontmatter?.created
  ? new Date(parseInt(frontmatter.created))
  : null;
const updated = frontmatter?.updated
  ? new Date(parseInt(frontmatter.updated))
  : null;
---

<Head title={title} description={frontmatter?.description} />

<MainLayout>
  <div class="jl-article-container">
    <article id="jl-md-article">
      <h1 id="_top">{title}</h1>
      {
        created && (
          <div class="jl-article-meta">
            <p>
              Posted: <span>{created.toLocaleDateString()}</span>
            </p>
            {updated && (
              <p>
                Last updated: <span>{updated.toLocaleDateString()}</span>
              </p>
            )}
          </div>
        )
      }
      <slot />
    </article>
  </div>
  {
    headings && headings.length > 0 && (
      <RightAside headings={headings} title={title} />
    )
  }
</MainLayout>

<style>
  .jl-article-container {
    padding-inline: var(--jl-spacing-lg);
    padding-block-end: var(--jl-spacing-md);
  }

  article {
    margin: 0 auto;
    max-width: 980px;
  }

  .jl-article-meta {
    display: flex;
    gap: var(--jl-spacing-sm);
    justify-content: flex-end;
    font-size: var(--jl-font-size-small);
    color: var(--jl-color-text-secondary);
    width: 100%;

    & p > span {
      font-weight: var(--jl-font-weight-medium);
    }
  }
</style>
