---
import { render, type CollectionEntry } from 'astro:content';

import ArticleDates from '@/components/ArticleDates.astro';
import RightAside from '@components/RightAside/RightAside.astro';
import MainLayout from './MainLayout.astro';

interface Props {
  article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;

const { Content, headings } = await render(article);

const created = article.data.created ? new Date(article.data.created) : null;
const updated = article.data?.updated ? new Date(article.data.updated) : null;
---

<MainLayout
  title={article.data.title}
  description={article.data.description}
  keywords={article.data.keywords}
  ogImage={article.data.ogImage}
>
  <div class="jl-article-container" data-pagefind-body>
    <article
      id="jl-md-article"
      class:list={{
        'jl-no-external-links': article.data.externalLinkIcon === false
      }}
    >
      <h1 id="_top">{article.data.title}</h1>

      <div class="jl-article-meta-container">
        {created && <ArticleDates created={created} updated={updated} />}
        {
          article.data.tags && article.data.tags.length > 0 && (
            <ul class="jl-article-tags">
              {article.data.tags.map(tag => (
                <li>
                  <a
                    href={`/tags/${tag}`}
                    aria-label={`To articles containing '${tag}' tag`}
                  >
                    #{tag}
                  </a>
                </li>
              ))}
            </ul>
          )
        }
      </div>

      <Content />
    </article>
  </div>
  {
    article.data.toc !== false && headings && headings.length > 0 && (
      <RightAside headings={headings} title={article.data.title} />
    )
  }
</MainLayout>

<style>
  .jl-article-container {
    padding-inline: var(--jl-spacing-lg);
    padding-block-end: var(--jl-spacing-md);
  }

  :global(.jl-no-external-links a::after) {
    display: none;
  }

  article {
    margin: 0 auto;
    max-width: var(--jl-content-max-width);
  }

  .jl-article-meta-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--jl-spacing-xs);
    margin-block-end: var(--jl-spacing-md);
  }

  .jl-article-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--jl-spacing-sm);
    font-style: italic;
    /* margin-block-start: var(--jl-spacing-md);
    margin-block-end: var(--jl-spacing-md); */
    font-size: var(--jl-font-size-small);
    color: var(--jl-color-text-secondary);
    list-style: none;
    padding-inline: 0rem;
  }
</style>
